.button {
    padding: 1rem;
    color: #fff;
    font-weight: 700;
    display: flex;
}

.default {
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 0 5px;
}

.danger {
    background-color: tomato;
    border: 1px solid tomato;
    border-radius: 5px;
    margin: 0 5px;
}

.success {
    background-color: green;
    border: 1px solid green;
    border-radius: 5px;
    margin: 0 5px;
}