.wrapper {
    display: flex;
    padding: 15px 10px;
    list-style: none;
    background-color: #000;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    border-radius: 5px;
}

.icon {
    margin-right: 5px;
}

.textArea {
    flex: 90%;
}

.buttonsArea {
    display: flex;
    flex: 10%;
}

.done {
    background-color: #5c5c5c;
    opacity: 0.9;
}

.done .textArea {
    text-decoration: line-through;
}